/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

body {
  margin: 0;
  background-color: #0c0a1d;
  color: #f8fafc;
  font-family: 'Space Mono', monospace;
}